PORTLESS_DEVICE_TOKEN=ptl_replace_with_reveal_once_token
PORTLESS_PMS_URL=http://plex
PORTLESS_CONTROL_URL=http://host.docker.internal:8080
PORTLESS_DATA_DIR=/var/lib/portless
PORTLESS_KEEPALIVE_PROFILE=residential
RUST_LOG=info
